

<ion-content>
  <div id="container">

    <h1><ion-icon size="large" name="snow-sharp"></ion-icon></h1>

    <h1><b>LOGIN</b></h1>
    <br>
    <ion-item fill="solid">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="form.email" [ngModelOptions]="{standalone : true}" placeholder="Enter Email"></ion-input>
    </ion-item>
    <br>
    <ion-item fill="solid">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="form.password" [ngModelOptions]="{standalone : true}" type="password" placeholder="Enter Password"></ion-input>
    </ion-item>
    <br>
    <p>Don't have account yet? Register</p>
    <br>
    <ion-button (click)="doLogin()" shape="round"><ion-icon name="arrow-forward-circle-sharp"></ion-icon> Login</ion-button>
  </div>
</ion-content>
